.static {
    position: static;background: gray; margin: 5px;
}
.relative {
    position: relative; top: 0; left: 10px; background: blue;
}
.absolute {
    position: absolute; top: 100px; left: 50px;background: pink;
}
.fixed {
    position: fixed; top: 0;right: 0; background: yellow;
}
.sticky {
    position: sticky; top:0 ;background: orange;
}